table {
    margin-top: 30px;
    width: 100%;
}

.edit_deleteBtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
