<h1 mat-dialog-title>Updating User: <strong>{{local_data.firstName}} {{local_data.lastName}}</strong></h1>

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>ID</mat-label>
    <input matInput [(ngModel)]="local_data.id" disabled>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="local_data.username" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="local_data.firstName" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="local_data.lastName" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="email">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="local_data.email" required>
  </mat-form-field>
 
  <mat-select class="role" [(ngModel)]="defaultSelectRole" (selectionChange)="onChange($event)">
    <mat-option [value]="option.value" *ngFor="let option of roles">{{ option.viewValue }}</mat-option>
  </mat-select>

 
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">Update</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>